[service]
AppMode = debug
HttpPort = :4000

[mysql]
DB = mysql
DBHost = localhost
DBPort = 3306
DBUser = 1
DBPassword = 123
DBName = barragevideo

[jwt]
JWTSecret = 
AdminJWTSecret= 
TokenExpiredTime = 

[redis]
RedisDB=redis
RedisDBName=0
RedisAddr=localhost:6379
RedisPassword=
